{% extends "base.html" %}

{% block title %}關於{% endblock %}

{% block content %}
<h3>Powered by</h3>
<ul class="list-inline">
  <li><a target="_blank" href="https://www.python.org">Python</a> {{ python_version }}</li>
  <li><a target="_blank" href="https://www.djangoproject.com">Django</a> {{ django_version }}</li>
</ul>
<h3>意見、問題回報</h3>
{% set repo_url = "https://github.com/afg984/nthucourses" %}
{% set issue_tracker_url = "https://github.com/afg984/nthucourses/issues" %}
<p>GitHub - <a href="{{ repo_url }}" target="_blank">{{ repo_url }}</a></p>
<p>issue tracker - <a href="{{ issue_tracker_url }}" target="_blank">{{ issue_tracker_url }}</a></p>
{% endblock %}
