{% extends "base.html" %}

{% block title %}關於{% endblock %}

{% block content %}
<h3>Powered by</h3>
<ul class="list-inline">
  <li><a target="_blank" href="https://www.python.org">Python</a> {{ python_version }}</li>
  <li><a target="_blank" href="https://www.djangoproject.com">Django</a> {{ django_version }}</li>
</ul>
<h3>意見、問題回報</h3>
<p>Bitbucket issue tracker - <a href="https://bitbucket.org/afg984/nthucourses/issues" target="_blank">https://bitbucket.org/afg984/nthucourses/issues</a></p>
{% endblock %}
