{% extends "base.html" %}

{% block title %}狀態{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <caption>資料類型</caption>
      <thead>
        <tr>
          <th>類型</th>
          <th>數量</th>
          <th>更新時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>系所</td>
          <td>{{ Department.objects.count() }}</td>
          <td>{% if Department.objects.exists() %}{{ localftime(Department.objects.latest().updated) }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
          <td>學期</td>
          <td>{{ Semester.objects.count() }}</td>
          <td>{% if Semester.objects.exists() %}{{ localftime(Semester.objects.latest().updated) }}{% else %}-{% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <caption>近期工作</caption>
      <thead>
        <tr>
          <th>工作名稱</th>
          <th>狀態</th>
          <th>開始時間</th>
        </tr>
      </thead>
      <tbody>
        {% for log in Log.objects.all()[:5] %}
        <tr>
          <td>{{ log.message }}</td>
          <td class="text-{% if log.status == 'success' %}success{% elif log.status == 'failure' %}danger{% else %}warning{% endif %}">
            {% if log.status == 'failure' %}<span title="{{ log.exc_name }}">{% endif %}
            {{ log.status.capitalize() }}
            {% if log.status == 'failure' %}</span>{% endif %}
          </td>
          <td>{{ localftime(log.started) }}</td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3">沒有被記錄的工作</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<table class="table">
  <caption>各學期統計</caption>
  <thead>
    <tr>
      <th>學期</th>
      <th>狀態</th>
      <th>課程數量</th>
      <th>更新時間</th>
    </tr>
  </thead>
  <tbody>
    {% for semester in Semester.objects.all() %}
    {% for semester_entry in semester.semesterentry_set.all() %}
    <tr{% if not semester_entry.ready %} class="text-warning"{% endif %}>
      <td>{{ semester.name }}</td>
      {% if semester_entry.ready %}
      <td>就緒</td>
      {% else %}
      <td>更新中</td>
      {% endif %}
      <td>{{ semester_entry.course_set.count() }}</td>
      <td>{{ localftime(semester_entry.created) }}</td>
    </tr>
      {% else %}
    <tr class="text-muted">
      <td>{{ semester.name }}</td>
      <td>無資料</td>
      {% for i in range(2) %}
      <td>-</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="4">無資料</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
