{% extends "base.html" %}

{% block title %}課程{% endblock %}

{% block style %}
{{ super() }}
td.notes,
th.notes {
  width: 25%;
}
.notes {
  white-space: pre-warp;
}
th.sortable > span.text {
  cursor: pointer;
  text-decoration: blink;
  border-bottom: 1px dotted #333;
}
.btn-group {
  width: 100%;
}
.tablebutton {
  max-width: 50px;
  width: 16.66%;
}
#timeSelectionContent {
}
{% endblock %}

{% block content %}
<form class="form-horizontal" action="#resulttable">
  <div class="row">
    <div class="col-sm-7">
      <div class="alert alert-warning">
        本站所列之課程資訊僅供參考，實際課程內容請以<a target="_blank" href="https://www.ccxp.nthu.edu.tw/ccxp/INQUIRE/JH/6/6.2/6.2.9/JH629001.php">課務組公告</a>為準。
      </div>
      {{ render_form(form, layout='horizontal', horizontal_label_class='col-sm-3', horizontal_field_class='col-sm-9') }}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            查詢
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-5">
      <div id="timeSelectionContent" class="form-group">
        <div class="col-md-12 sol-sm-12">
          {% for section in '1234n56789abc' %}
          {% if loop.index0 < 4 %}{% set btn_class = 'success' %}{% elif loop.index < 10 %}{% set btn_class = 'primary' %}{% else %}{% set btn_class = 'warning' %}{% endif %}
          <div class="btn-group" data-toggle="buttons">
            {% for day in 'MTWRFS' %}
            {% set time = day + section %}
            <label class="btn btn-{{ btn_class }} tablebutton">
              <input autocomplete="off" name="time" type="checkbox" value="{{ time }}">
              {{ time }}
            </label>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="form-group visible-xs">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
            查詢
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{% if result %}
<hr>
<table class="table" id="resulttable">
  <caption>{{ result.courses.__len__() }} 個搜尋結果，更新：{{ localtime(result.updated).strftime('%Y/%m/%d') }}，提示：點擊欄位名稱進行排序。</caption>
  <thead>
    <tr>
      {% for id, text in [
        ['no', '科號'],
        ['title', '名稱'],
        ['teacher', '教師'],
        ['time', '時間'],
        ['credit', '學分'],
        ['npeople', '人數'],
        ['room', '教室'],
      ] %}
      <th class="sortable" id="th_{{ id }}"><span class="text">{{ text }}</span></th>
      {% endfor %}
      <th class="notes">備註</th>
    </tr>
  </thead>
</table>
{% endif %}
{% endblock %}

{% block endbody %}
<script>
  {% if result %}
  var result = {{ json(result) }};
  var query_base = '?semester=' + encodeURIComponent(result.semester_code) + '&timeoperation=exclude&';
  var build_url = function(key, value) {
    return query_base + encodeURIComponent(key) + '=' + encodeURIComponent(value) + '#resulttable';
  };
  var display = function () {
    d3.select('#resulttable').selectAll('tbody').remove();
    var table = d3.select('#resulttable').append('tbody');
    for (var i = 0; i != result.courses.length; ++ i) {
      var tr = table.append('tr');
      var course = result.courses[i];
      console.log(course.time_indexes);
      tr.append('td').text(course.no);
      var title = tr.append('td');
      var titleline = title.append('div');
      titleline.append('a')
        .attr({
          'href': '/course/' + course.pk + '/',
          'target': '_blank'
        })
        .text(course.title_zh);
      titleline.append('span').text(' ');
      titleline.append('a')
        .attr('href', build_url('title', course.title_zh))
        .append('span')
        .attr({
          'class': 'glyphicon glyphicon-search',
          'title': '搜尋 "' + course.title_zh + '"'
        });
      if (course.ge_line) {
        title.append('div')
          .attr({
            'class': 'ge_line'
          })
          .text(course.ge_line);
      }
      tr.append('td')
        .append('a')
        .attr('href', build_url('teacher', course.teacher))
        .text(course.teacher);
      tr.append('td').text(course.time);
      tr.append('td').text(course.credit);
      tr.append('td').text(course.enrollment + (course.size_limit? " / " + course.size_limit: "" ));
      tr.append('td').text(course.room);
      tr.append('td')
        .attr({
          'class': 'notes'
        })
        .text(course.notes);
    }
  };
  display();
  var set_current_ordering = function(obj) {
    obj.append('span').attr('class', 'sorticon').text(' ');
    obj.append('span').attr('class', 'glyphicon glyphicon-arrow-down sorticon');
  };
  var sort_by = function (name) {
    return function() {
      d3.selectAll('.sorticon').remove();
      set_current_ordering(d3.select(this));
      result.courses.sort( function (a, b) {
        if (a[name] > b[name]) return 1;
        if (a[name] < b[name]) return -1;
        if (a.no > b.no) return 1;
        if (a.no < b.no) return -1;
        return 0;
      });
      display();
    }
  };
  set_current_ordering(d3.select('#th_no'));
  $('#th_no').click(sort_by('no'));
  $('#th_title').click(sort_by('title_zh'));
  $('#th_teacher').click(sort_by('teacher'));
  $('#th_time').click(sort_by('time_indexer'));
  $('#th_credit').click(sort_by('credit'));
  $('#th_npeople').click(sort_by('size_limit'));
  $('#th_room').click(sort_by('room'));
  {% endif %}
</script>
{% endblock %}
