{% extends "base.html" %}

{% block title %}課程{% endblock %}

{% block content %}
<div class="alert alert-warning">
  本站所列之課程資訊僅供參考，實際課程內容請以<a target="_blank" href="https://www.ccxp.nthu.edu.tw/ccxp/INQUIRE/JH/6/6.2/6.2.9/JH629001.php">課務組公告</a>為準。
</div>
<form class="form-inline">
  {{ render_form(form, layout='inline') }}
  <input class="btn btn-default" type="submit">
</form>
{% if result %}
<hr>
<table class="table" id="results">
  <thead>
    <tr>
      <th>科號</th>
      <th>名稱</th>
      <th>教師</th>
      <th>時段</th>
      <th>人數</th>
      <th>教室</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
{% endif %}
{% endblock %}

{% block endbody %}
{% if result %}
<script>
  var result = {{ json(result) }};
  var table = d3.select("#results tbody");
  for (var i = 0; i != result.courses.length; ++ i) {
    var tr = table.append('tr');
    var course = result.courses[i];
    console.log(course);
    tr.append('td').text(course.no);
    tr.append('td').text(course.title_zh);
    tr.append('td').text(course.teacher);
    tr.append('td').text(course.time);
    tr.append('td').text(course.enrollment + (course.size_limit? " / " + course.size_limit: "" ));
    tr.append('td').text(course.room);
  }
</script>
{% endif %}
{% endblock %}
