{% extends "base.html" %}

{% block title %}課程{% endblock %}

{% block style %}
{{ super() }}
td.notes,
th.notes {
  width: 25%;
}
.notes {
  white-space: pre-warp;
}
th.sortable > span.text {
  cursor: pointer;
  text-decoration: blink;
  border-bottom: 1px dotted #333;
}
.btn-group {
  width: 100%;
}
.tablebutton {
  max-width: 50px;
  width: 16.66%;
}
#timeSelectionContent {
}
{% endblock %}

{% block content %}
<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-7">
      {% include "disclaimer.html" %}
      {% include "searchform.html" %}
    </div>
    <div class="col-sm-5">
      {% include "timetable.html" %}
    </div>
  </div>
</form>
{% if result %}
{% include "resulttable.html" %}
{% endif %}
{% endblock %}

{% block endbody %}
<script>
  {% if result %}
  var result = {{ json(result) }};
  var query_base = '?semester=' + encodeURIComponent(result.semester_code) + '&timeoperation=exclude&';
  var build_url = function(key, value) {
    return query_base + encodeURIComponent(key) + '=' + encodeURIComponent(value) + '#resulttable';
  };
  var time_click = function(time_indexes) {
    return function() {
      for (var i = 0; i != time_indexes.length; ++ i) {
        label = d3.select('#label_time_' + time_indexes[i])
        label.classed('active', true);
        label.select('input').attr('checked', 'checked');
      }
    }
  }
  var display = function () {
    d3.select('#resulttable').selectAll('tbody').remove();
    var table = d3.select('#resulttable').append('tbody');
    for (var i = 0; i != result.courses.length; ++ i) {
      var tr = table.append('tr');
      var course = result.courses[i];
      tr.append('td').text(course.no);
      var title = tr.append('td');
      var titleline = title.append('div');
      titleline.append('a')
        .attr({
          'href': '/course/' + course.pk + '/',
          'target': '_blank'
        })
        .text(course.title_zh);
      titleline.append('span').text(' ');
      titleline.append('a')
        .attr('href', build_url('title', course.title_zh))
        .append('span')
        .attr({
          'class': 'glyphicon glyphicon-search',
          'title': '搜尋 "' + course.title_zh + '"'
        });
      if (course.ge_line) {
        title.append('div')
          .attr({
            'class': 'ge_line'
          })
          .text(course.ge_line);
      }
      tr.append('td')
        .append('a')
        .attr('href', build_url('teacher', course.teacher))
        .text(course.teacher);
      var timetd = tr.append('td')
      timetd.text(course.time);
      if (course.time) {
        var time_indexes = course.time_indexes;
        timetd.append('span').text(' ');
        timetd.append('a')
          .attr('href', '#timetable')
          .on('click', time_click(course.time_indexes))
          .append('span')
          .attr({
            'title': '將此時間加入課表',
            'class': 'glyphicon glyphicon-plus-sign'
          });
      }
      tr.append('td').text(course.credit);
      tr.append('td').text(course.enrollment + (course.size_limit? " / " + course.size_limit: "" ));
      tr.append('td').text(course.room);
      tr.append('td')
        .attr({
          'class': 'notes'
        })
        .text(course.notes);
    }
  };
  display();
  var set_current_ordering = function(obj) {
    obj.append('span').attr('class', 'sorticon').text(' ');
    obj.append('span').attr('class', 'glyphicon glyphicon-arrow-down sorticon');
  };
  var sort_by = function (name, reverse) {
    var direction = reverse ? -1: 1;
    return function() {
      d3.selectAll('.sorticon').remove();
      set_current_ordering(d3.select(this));
      result.courses.sort( function (a, b) {
        if (a[name] > b[name]) return direction;
        if (a[name] < b[name]) return -direction;
        if (a.no > b.no) return direction;
        if (a.no < b.no) return -direction;
        return 0;
      });
      display();
    }
  };
  set_current_ordering(d3.select('#th_no'));
  $('#th_no').click(sort_by('no'));
  $('#th_title').click(sort_by('title_zh'));
  $('#th_teacher').click(sort_by('teacher'));
  $('#th_time').click(sort_by('time_indexer'));
  $('#th_credit').click(sort_by('credit', true));
  $('#th_npeople').click(sort_by('enrollment', true));
  $('#th_room').click(sort_by('room'));
  {% endif %}
</script>
{% endblock %}
