<div id="timeSelectionContent" class="form-group">
  <div class="col-md-12 col-sm-12" id="timetable">
    {% for time_row in time_table %}
    {% if loop.index < 5 %}{% set btn_class = "success" %}
    {% elif loop.index > 10 %}{% set btn_class = "warning" %}
    {% else %}{% set btn_class = "primary" %}
    {% endif %}
    <div class="btn-group" data-toggle="buttons">
      {% for time in time_row %}
      {% set selected = time.pk in time_form.selected_time %}
      <label class="btn btn-{{ btn_class }} tablebutton{% if selected %} active{% endif %}" id="label_time_{{ time.index }}">
        <input autocomplete="off" name="time" type="checkbox" id="id_time_{{ time.index }}" value="{{ time.index }}"{% if selected %} checked{% endif %}>
        {{ time.name }}
      </label>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>